/** @format */
.forecast {
  display: flex;
  align-items: center;
  height: -webkit-fill-available;
  column-gap: 25px;
  overflow: auto;
}

.forecast-slider > img {
  width: 70px;
}

.forecast-slider > .day {
  font-family: Inter;
  font-size: 20px;
}

.forecast-slider {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  text-align: center;
  padding: 20px;
  background: #272727;
  border-radius: 20px;
  width: fit-content;
}

.top-heading {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.top-heading > .title {
  font-family: Inter-Normal;
  font-size: 20px;
  margin: 10px;
}

.title > span {
  font-family: Inter;
  font-size: 20px;
  color: red;
}

.city-selector {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.city-selector > span {
  font-family: Inter-Normal;
  cursor: pointer;
}

.active {
  color: red !important; /* Corrected the typo */
  font-weight: 700; /* Optional: To make it bold */
}
