/** @format */
@font-face {
  font-family: 'Inter';
  src: url('../../../public/Inter-Bold.ttf');
  /* You can use other format types like 'woff', 'woff2', 'truetype', etc. */
}

@font-face {
  font-family: 'Inter-Normal';
  src: url('../../../public/Inter-Medium.ttf');
  /* You can use other format types like 'woff', 'woff2', 'truetype', etc. */
}
.current-city {
  background: #363636;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  border-radius: 15px;
  column-gap: 20px;
  width: fit-content;
}
.current-city > span {
  font-family: Inter-Normal;
}

.date {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.date > span {
  font-family: Inter-Normal;
}

.date > .day {
  font-size: 25px;
}

.date > .date {
  font-size: 14px;
}

.date > img {
  width: 100%;
  border-radius: 50%;
}

.flex-container-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 100px;
  row-gap: 20px;
  justify-content: space-between;
  padding: 3%;
  position: relative;
}

@media (max-width: 580px) {
  .flex-container-card {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .date > img {
    margin: auto;
  }
}
