/** @format */

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* Creates 3 equal-width columns */
  gap: 20px; /* Adds space between items */
  padding: 20px;
}

.item1 {
  background-color: var(--background-color);
  grid-column: span 5; /* Spans 2 columns */
  color: white;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item2 {
  background-color: var(--background-color);
  color: white;
  grid-column: span 7;
  border-radius: 24px;
}

.item3 {
  color: white;
  background-color: var(--background-color);
  grid-column: span 5;
  border-radius: 24px;
}

.item4 {
  background-color: var(--background-color);
  color: white;
  grid-column: span 7;
  border-radius: 24px;
}

.five-day-forecast {
  text-align: center;
  font-family: Arial, sans-serif;
}

.forecast-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.forecast-card {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  width: 200px;
}

.forecast-entry {
  margin-bottom: 10px;
  text-align: center;
}

.forecast-entry img {
  width: 50px;
  height: 50px;
}

@media (max-width: 1400px) {
  .item1 {
    grid-column: span 12;
  }
  .item2 {
    grid-column: span 12;
  }
  .item3 {
    grid-column: span 12;
  }
  .item4 {
    grid-column: span 12;
  }
}

@media (max-width: 480px) {
  .grid-container {
    padding: 0;
  }
}
