/** @format */

.skeleton-card {
  width: -webkit-fill-available;
  padding: 16px;
  border-radius: 8px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 16px;
  display: flex;
  flex-direction: column;
}

.skeleton-thumbnail {
  width: 100%;
  height: 180px;
  background-color: #e0e0e0;
  border-radius: 8px;
  margin-bottom: 16px;
  position: relative;
  overflow: hidden;
}

.skeleton-content {
  display: flex;
  flex-direction: column;
}

.skeleton-title,
.skeleton-line {
  background-color: #e0e0e0;
  height: 16px;
  margin-bottom: 8px;
  border-radius: 4px;
}

.skeleton-title {
  width: 60%;
}

.skeleton-line {
  width: 100%;
}

.skeleton-line:last-child {
  width: 80%;
}

/* Sun and Cloud animation */

.sun {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 50px;
  height: 50px;
  background: #ffdd57;
  border-radius: 50%;
  z-index: 1;
  animation: sun-rise 5s infinite ease-in-out;
}

.cloud {
  position: absolute;
  top: 50px;
  left: 0;
  width: 120px;
  height: 60px;
  background: #ffffff;
  border-radius: 50%;
  z-index: 2;
  box-shadow: -10px 0 15px rgba(0, 0, 0, 0.1);
  animation: cloud-move 5s infinite linear;
}

.cloud::before,
.cloud::after {
  content: '';
  position: absolute;
  background: #ffffff;
  width: 80px;
  height: 50px;
  border-radius: 50%;
}

.cloud::before {
  top: -30px;
  left: 20px;
}

.cloud::after {
  top: -10px;
  right: 15px;
}

/* Animations */
@keyframes sun-rise {
  0% {
    top: 60px;
    opacity: 0.7;
  }
  50% {
    top: 40px;
    opacity: 1;
  }
  100% {
    top: 60px;
    opacity: 0.7;
  }
}

@keyframes cloud-move {
  0% {
    left: -150px;
  }
  100% {
    left: 100%;
  }
}
